.section-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border-radius: 30px;
  padding: 40px 0;
}

.section-5 h1 {
  font-size: clamp(15px, 2vw, 35px);
}

.section-5 .diagrams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 70%;
}

.section-5 .diagrams .diagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.section-5 .diagrams .diagram .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: clamp(15px, 2vw, 30px);
  width: 200px;
  height: 34px;
}

.section-5 .diagrams .diagram h3 {
  font-size: clamp(15px, 2vw, 40px);
}

.education::before {
  content: " ";
  position: absolute;
  z-index: 101;
  background-image: linear-gradient(
    290deg,
    #71cbff 0%,
    #2878f0 50%,
    #1c61ca 100%
  );
  width: 16%;
  height: 30px;
  z-index: 101;
  border-radius: 300px;
  left: clamp(80px, 10vw, 150px);
}

.education::after {
  content: " ";
  background-color: #eeeeee;
  width: 79%;
  height: 30px;
  z-index: 101;
  position: absolute;
  border-radius: 300px;
  z-index: 100;
  left: clamp(80px, 10vw, 150px);
}

.food::before {
  content: " ";
  position: absolute;
  z-index: 101;
  background-image: linear-gradient(
    290deg,
    #9ff391 0%,
    #2fc296 50%,
    #21a17b 100%
  );
  width: 44%;
  height: 30px;
  z-index: 101;
  border-radius: 300px;
  left: clamp(80px, 10vw, 150px);
}

.food::after {
  content: " ";
  background-color: #eeeeee;
  width: 79%;
  height: 30px;
  z-index: 101;
  position: absolute;
  border-radius: 300px;
  z-index: 100;
  left: clamp(80px, 10vw, 150px);
}

.medical::before {
  content: " ";
  position: absolute;
  z-index: 101;
  background-image: linear-gradient(
    290deg,
    #f5afaa 0%,
    #e0574b 50%,
    #cf2e1f 100%
  );
  width: 20%;
  height: 30px;
  z-index: 101;
  border-radius: 300px;
  left: clamp(80px, 10vw, 150px);
}

.medical::after {
  content: " ";
  background-color: #eeeeee;
  width: 79%;
  height: 30px;
  z-index: 101;
  position: absolute;
  border-radius: 300px;
  z-index: 100;
  left: clamp(80px, 10vw, 150px);
}

@media (max-width: 720px) {
  .education::before {
    content: "20%";
    color: #000099;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .food::before {
    content: "55%";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #005200;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .medical::before {
    content: "25%";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #950000;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section-5 .diagrams .diagram h3 {
    display: none;
  }
}
